<div *ngFor="let board of boards" class="board">
	<header>{{ board.name }}</header>

	<ul id='{{board.uuid}}' [dragula]='"notes"' [dragulaModel]="board.notes">
		<li *ngFor="let note of board.notes" id='{{note.uuid}}'>
			<span class="title">{{note.title}} </span>
			<fa class="edit" (click)="openDialog(board.uuid, board.name, true, note.content, note.title, note.uuid)"
				name="edit"></fa>
			<p class="content">{{note.content}}</p>
			<p class="author">Author: {{note.author}}</p>
			<p class="date">Date: {{note.date}}</p>
			<div class="options">
				<span class="votes">
				Votes:
					<fa *ngIf="!isUserVoting(note.uuid, userUuid)" (click)="addVoteNote(note.uuid)"
						name="plus-circle"></fa>
					<fa *ngIf="isUserVoting(note.uuid, userUuid)" (click)="removeVoteNote(note.uuid)"
						name="minus-circle"></fa>
					{{note.votes.length}}
				</span>
				<fa (click)="removeNote(board.uuid, note.uuid)" name="trash"></fa>
			</div>
		</li>
	</ul>

	<footer>
		<button mat-button (click)="openDialog(board.uuid, board.name, false)">
			<fa name="sticky-note"></fa>
			NEW NOTE
		</button>
	</footer>

</div>
