.board {
	min-width: 25em;
	max-width: 25em;
	margin-left: 30px;
	height: calc(100% - 10px - 17px);
	background-color: #f1f1f1;
	border-radius: 10px;

	header {
		color: #5A4252;
		text-align: center;
		font-size: 1.5em;
		max-height: 30px;
	}

	ul {
		list-style: none;
		overflow-y: auto;
		max-height: calc(100% - 30px - 40px);
		height: 100%;
		padding: 6px;
		margin: 0;

		li {
			background-color: #ffffff;
			margin-top: 8px;
			padding: 4px;
			border-radius: 10px;
			cursor: grab;
			color: #5A4252;
			font-size: 0.9em;
			word-wrap: break-word;
			fa {
				cursor: pointer;
			}
		}
	}

	footer {
		padding: 0 10px;
		max-height: 40px;
	}

}

.title {
	font-weight: 600;
	font-size: 1.2em;
}

.options {
	text-align: right;
}

.votes {
	margin-right: 240px;
}

.edit {
	margin-left: 10px;
}
