<div class="ui">
	<div id="room-title">
		{{room.title}}
		<a href="{{exportRoomUrl()}}" target="_blank">
			<button class="btn btn-primary" id="export-btn">EXPORT ROOM</button>
		</a>
	</div>
	<app-board id="boards" [boards]="room.boards" [userUuid]="userUuid"
			   (noteUpdated)="handleNoteUpdated($event)"></app-board>
	<app-user-panel id="users" [roomUuid]="roomUuid" [userUuid]="userUuid"></app-user-panel>
</div>


