.ui {
	display: grid;
	grid-template-rows: 80px 1fr;
	height: 100vh;
	background-color: #785e6f;
}

#room-title {
	background-color: #5A4252;
	color: white;
	font-size: 1.5em;
	padding: 20px;
	margin-bottom: 10px;
}

#boards {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	margin-left: 200px;
}

#users {
	position: absolute;
	left: 0;
	top: 70px;
	margin: 0;
	color: white;
}

.btn-primary {
	border: none;
	background-color: #ff6982;
}

.btn-primary:hover {
	border: none;
	background-color: #FF3E5C;
}

#export-btn {
	font-size: 0.5em;
	position: absolute;
	right: 30px;
}
