<h2 *ngIf="!data.edit" mat-dialog-title>
	Add new note to "{{data.boardName}}" board.
</h2>
<h2 *ngIf="data.edit" mat-dialog-title>
	Edit note from "{{data.boardName}}" board.
</h2>
<div mat-dialog-content id="data-fields">
	<input [(ngModel)]="data.noteTitle">
	<textarea [(ngModel)]="data.noteContent"></textarea>
</div>
<div mat-dialog-actions id="data-buttons">
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>
		<span *ngIf="!data.edit">Add</span>
		<span *ngIf="data.edit">Edit</span>
	</button>
</div>

