h2 {
	text-align: center;
}

#data-fields {
	text-align: center;
	input {
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
	}
	textarea {
		resize: vertical;
		width: 100%;
	}
}

#data-buttons {
	margin-left: 150px;
}
