#user-list {
	margin: 0;
	padding: 20px;
	list-style: none;
	color: #eedde8;
}

#change-username-btn {
	padding: 0;
	margin: 0;
	min-width: 30px;
}

.change-username {
	margin-left: 5px;
}

/deep/ .mat-input-underline {
	border-bottom: 1px solid #ffffff !important;
}

/deep/ .mat-input-element {
	color: #ffffff !important;
}

/deep/ .mat-form-field-label {
	color: #ffffff !important;
}

/deep/ .mat-form-field-ripple {
	background-color: #5A4252 !important;
}

/deep/ .mat-input-element {
	caret-color: #5A4252 !important;
}
