<ul id="user-list">
	<li *ngFor="let user of users">
		<fa name="user"></fa>
		{{user.username}} <span *ngIf="user.uuid === userUuid">(me)</span>
	</li>
</ul>

<div>
	<mat-form-field class="change-username">
		<input matInput [(ngModel)]="newUsername" placeholder="Change username">
	</mat-form-field>
	<button id="change-username-btn" mat-button (click)="changeUsername($event)"><i class="fa fa-check"
																					aria-hidden="true"></i></button>
</div>
