#menu {
	background-color: #5A4252;
	min-height: 300px;
	padding: 30px 100px;
	border-radius: 10px;
	margin-top: 80px;
	ul {
		list-style: none;
		li {
			margin-top: 10px;
		}
	}
}

h3 {
	color: #ffffff;
	text-align: center;
}

#confirm-btn {
	margin-top: 40px;
	text-align: center;
	button {
		margin: 0 auto;
		font-size: 1.2em;
		background-color: #FF6982;
		border: none;
		padding: 6px 30px;
	}
	button:hover {
		background-color: #FF3E5C;
	}
}

.btn-primary {
	border: none;
	background-color: #ff6982;
}

.btn-primary:hover {
	border: none;
	background-color: #FF3E5C;
}

.btn-default {
	border: none;
}

.btn-default:hover {
	border: none;
}

.input-upload-file {
	margin: auto;
}
