<div class="col-md-4 col-md-offset-4" id="menu">
	<h3>CREATE ROOM</h3>

	<div class="form-group" *ngIf="!this.boards.length">
		<select class="form-control" [(ngModel)]="selectedRoom">
			<option *ngFor="let room of roomMenuEntries" [ngValue]="room">{{ room.name }}</option>
		</select>
		<div id="confirm-btn">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary" (click)="chooseRoom($event)">CREATE</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button *ngIf="!showImportInput" class="btn btn-primary" style="margin-top: 15px;"
							(click)="toggleShow()">IMPORT ROOM
					</button>
					<input *ngIf="showImportInput" type="file" class="input-upload-file btn btn-primary"
						   style="margin-top: 15px;" (change)="importRoom($event)">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" id="menu-board" *ngIf="this.boards.length">
		<input class="form-control" [(ngModel)]="title">

		<ul *ngFor="let board of boards;">
			<li>
				<input class="form-control" [(ngModel)]="board.name">
			</li>
		</ul>
		<button class="btn btn-primary" (click)="createBoard($event)">CREATE</button>

		<button class="btn btn-primary" (click)="addBoard($event)">+</button>
		<button class="btn btn-primary" (click)="deleteBoard($event)">-</button>
		<button class="btn btn-default" (click)="backToMenu($event)">back</button>
	</div>
</div>
