<h2>ABOUT</h2>
<div class="row tutorial">

	<div class="col-md-6 col-md-offset-3 step">
		<h3>1. Choose a setting</h3>
		<img src="assets/images/tut01.png"/>
	</div>

	<div class="col-md-6 col-md-offset-3 step">
		<h3>2. Customize the option</h3>
		<img src="assets/images/tut02.png"/>
	</div>

	<div class="col-md-6 col-md-offset-3 step">
		<h3>3. Share the link</h3>
		<img src="assets/images/tut03.png"/>
	</div>



</div>
