h2 {
	color: #5A4252;
	text-align: center;
	font-size: 3.5em;
}

img {
	height: auto;
	max-width: 60%;
	border: 1px solid black;
}

.tutorial {
	text-align: center;
}

.step {
	margin-bottom: 60px;
}
