header {
	background-color: #5A4252;
	color: #ffffff;
	min-height: 90px;
	h1 {
		float: left;
		padding: 30px;
		margin: 0;
	}
	nav {
		float: right;
		padding: 35px;
		a {
			color: #ffffff;
			font-size: 1.2em;
			margin-left: 2em;
		}
		a:hover {
			text-decoration: none;
			color: #ff6982;
		}
	}
}

.clear {
	clear: both;
}
