<div class="container-fluid">

	<div class="row">
		<header>
			<h1>EBOARD</h1>
			<nav id="menu">
				<a *ngIf="currentRouteIsAbout()" [routerLink]="['menu']"><i class="fa fa-arrow-circle-left"
																			aria-hidden="true"></i> RETURN</a>
				<a *ngIf="currentRouteIsMenu()" [routerLink]="['about']"><i class="fa fa-info-circle"
																			aria-hidden="true"></i> ABOUT</a>
			</nav>
		</header>
	</div>

	<div class="clear"></div>

	<div class="row">
		<router-outlet></router-outlet>
	</div>

</div>
